  :root{
    --colorP:#004225;
    --colorS:#088660;
    --Negro:#1C1C1C;
    --blanco:#ffffff;
    --gris:#757575;

    --fuenteP:'Raleway', sans-serif;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*,*:before,*:after{
    box-sizing: inherit;
}
body{
    font-family: var(--fuenteP);
    font-size: 16px;
    background-image: linear-gradient(to top, var(--gris) 0%, var(--blanco) 100%);
}
/*Globales*/
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}
h1,h2,h3{
    text-align: center;
}
.nav--bg{
    background-color: var(--colorP);
}
.contenedor{
    max-width: 150rem;
    margin: 0 auto;
    margin-top: 2rem;
}
.sombra{
    -webkit-box-shadow: 2px 6px 65px -14px rgba(97,97,97,1);
    -moz-box-shadow: 2px 6px 65px -14px rgba(97,97,97,1);
    box-shadow: 2px 6px 65px -14px rgba(97,97,97,1);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1.5rem;
}
/*Cabecera*/
.Cabecera{
    color: var(--colorP);
}
.Cabecera span{
    color: var(--colorS);
    font-size: 2rem;
}
/*Barra de navegacion*/

.navegador{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width:768px){
    .navegador{
        justify-content: space-evenly;
        flex-direction: row;
    }    
}
.navegador a{
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;

}
.navegador a:hover{
    color: var(--Negro);
    background-color: var(--colorS);
}
/*Galeria de imagenes*/

.portada{
    width: 100%;
    height: 15rem;
    margin-top: 10rem;
  }
  @media (max-width:768px){
      .portada{
        margin-top: 10rem;
      }
  }
  /* Slideshow container */
  .slideshow-container {
    max-width: 100rem;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev{
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: var(--colorP);
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  
  /*Main*/
  @media (min-width:768px){
    .servicios{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
    }

}
  .servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicio p{
    font-size: 1.8rem;
    padding: 2rem;
    line-height: 2;
}
.servicio h3{
    color: var(--colorS);
    font-weight: normal;
    text-align: center;
}
.servicio .icono {
    height: 15rem;
    width: 15rem;
    background-color: var(--colorP);
   border-radius: 50%;
   display: flex;
   justify-content:space-evenly;
   align-items: center;
}
.servicio .Imagen_Funcional img{
  height: 35rem;
  width: 55rem;
  border-radius: 3%;
  margin-top: 3rem;
}
@media (max-width:468px){
  .servicio .Imagen_Funcional img{
    height: 26rem;
    width: 36rem;
  }
}

.goo{
  width: 50rem;
  height: 35rem;
  border-radius:3%;
  margin-left: 8rem;
}
@media (max-width:768px){
    .goo{
      width: 44rem;
      margin-left: 0rem;
    }
}
@media (max-width:468px){
    .goo{
      width: 32rem;   
    }
}
.iconos{
  display: grid;
  margin-top: 12rem;
  grid-template-columns: repeat(3,1fr);
}
@media (max-width:768px){
    .iconos{
      grid-template-columns: repeat(1,1fr);
    }
}

.icon-tabler-brand-instagram{
  margin: auto 42%;
}
.icono__insta a{
  text-decoration: none;
  color:var(--Negro)
}

.icono__wpp a{
text-decoration: none;
color: var(--Negro);
}
.icono__wpp h3{
  margin: left ;
}
.icon-tabler-brand-whatsapp{
 margin: auto 36%;
}
/* @media (max-width:468px){
  .icon-tabler-brand-whatsapp{
    margin-left: 14rem;
   }
} */
.icon-tabler-mail{
  margin:auto 42%;
}
/* @media (max-width:468px){
  .icon-tabler-mail{
    margin-left: 14rem;
  }
} */
/*Footer*/
footer p{
  text-align: center;
  color: var(--blancogit );
}